<p id="notice"><%= notice %></p>

<h1>Pengujis</h1>

<table>
  <thead>
    <tr>
      <th>Mahasiswa</th>
      <th>Dosen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pengujis.each do |penguji| %>
      <tr>
        <td><%= penguji.mahasiswa_id %></td>
        <td><%= penguji.dosen_id %></td>
        <td><%= link_to 'Show', penguji %></td>
        <td><%= link_to 'Edit', edit_penguji_path(penguji) %></td>
        <td><%= link_to 'Destroy', penguji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Penguji', new_penguji_path %>
