<%= form_for(topik) do |f| %>
  <% if topik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topik.errors.count, "error") %> prohibited this topik from being saved:</h2>

      <ul>
      <% topik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama %>
    <%= f.text_field :nama %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
