<%= form_for(pembimbing) do |f| %>
  <% if pembimbing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pembimbing.errors.count, "error") %> prohibited this pembimbing from being saved:</h2>

      <ul>
      <% pembimbing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mahasiswa_id %>
    <%= f.number_field :mahasiswa_id %>
  </div>

  <div class="field">
    <%= f.label :dosen_id %>
    <%= f.number_field :dosen_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
