<p id="notice"><%= notice %></p>

<h1>Pembimbings</h1>

<table>
  <thead>
    <tr>
      <th>Mahasiswa</th>
      <th>Dosen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pembimbings.each do |pembimbing| %>
      <tr>
        <td><%= pembimbing.mahasiswa_id %></td>
        <td><%= pembimbing.dosen_id %></td>
        <td><%= link_to 'Show', pembimbing %></td>
        <td><%= link_to 'Edit', edit_pembimbing_path(pembimbing) %></td>
        <td><%= link_to 'Destroy', pembimbing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pembimbing', new_pembimbing_path %>
