<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @token.owner_id %>
</p>

<p>
  <strong>Token json:</strong>
  <%= @token.token_json %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
