<p id="notice"><%= notice %></p>

<h1>Topik To Dosens</h1>

<table>
  <thead>
    <tr>
      <th>Topik</th>
      <th>Dosen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topik_to_dosens.each do |topik_to_dosen| %>
      <tr>
        <td><%= topik_to_dosen.topik_id %></td>
        <td><%= topik_to_dosen.dosen_id %></td>
        <td><%= link_to 'Show', topik_to_dosen %></td>
        <td><%= link_to 'Edit', edit_topik_to_dosen_path(topik_to_dosen) %></td>
        <td><%= link_to 'Destroy', topik_to_dosen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topik To Dosen', new_topik_to_dosen_path %>
