<%= form_for(topik_to_mahasiswa) do |f| %>
  <% if topik_to_mahasiswa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topik_to_mahasiswa.errors.count, "error") %> prohibited this topik_to_mahasiswa from being saved:</h2>

      <ul>
      <% topik_to_mahasiswa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topik_id %>
    <%= f.number_field :topik_id %>
  </div>

  <div class="field">
    <%= f.label :mahasiswa_id %>
    <%= f.number_field :mahasiswa_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
