<!DOCTYPE html>
<html>
  <head>
    <title>Test6</title>
    <%= csrf_meta_tags %>
    <!--CSS-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'datepicker', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'materialize', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'materialize.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'material.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'grimps', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track' => true %>


    <!--JS-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'add-schedule', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'datepicker', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxcalendar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler_agenda_view', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler_editor', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler_minical', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'first-page', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'fullname', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jadwalsidang', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'loadcalendar', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'material.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'material.min_old', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'notes', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pdfobject.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'students', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'verification', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'verify', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
