<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <%= csrf_meta_tags %>
    <!--CSS-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'material.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'grimps', media: 'all', 'data-turbolinks-track' => true %>


    <link rel="shortcut icon" href="images/favicon.png">

    <style>
      #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
      }
    </style>
    <style type="text/css" media="screen">
      html, body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: hidden;
      }
    </style>


    <!--JS-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

  </head>

  <body>
      <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <%= render 'layouts/header' %>
        <%= render 'layouts/left_part_header' %>
        <main class="mdl-layout__content grimps-plain">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--9-col grimps-plain">
                <%= yield %>
            </div>
            <%= render 'layouts/right_part_participant_attendants' %>
          </div>
        </main>
      </div>
      <!--JS-->
      <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
  </body>

</html>
